body{
    text-align: center;
    margin: 0;
}
.header{
    height:100px;
    background-position: center center;
    background-image: url("/photo_work_shop/mainfood.png");
}
.header h1{
    text-shadow: 1px 1px 5px rgb(121, 5, 5);
    margin-top:0;
    margin-bottom: 0;
}
h1{
    margin-top: 20px;
}
.header p{
    color: white;
    margin-top: 0;
    font-weight: bold;
}
span{
    text-decoration: underline;
}
span:hover{
    background-color: rgb(101, 216, 101);
}
.body1{
    position: relative;
    text-align: center;
    height: 1150px;
}
.dimg1{
    width: 25%;
    position: absolute;
}
.img1{
    height: 250px;
    width: 250px;
    border: 10px solid rgb(134, 233, 134);
    margin: 10px 30px auto;
}
.dimg2{
    width: 25%;
    position: absolute;
    left: 25%;
}
.img2{
    height: 250px;
    width: 250px;
    border: 10px dashed rgb(134, 233, 134);
    margin: 10px 30px auto;
}
.dimg3{
    width: 25%;
    position: absolute;
    left: 50%;
}
.img3{
    height: 250px;
    width: 250px;
    border: 10px dotted rgb(134, 233, 134);
    margin: 10px 30px auto;
}
.dimg4{
    width: 25%;
    position: absolute;
    left: 75%;
}
.img4{
    height: 250px;
    width: 250px;
    border: 10px ridge rgb(134, 233, 134);
    margin: 10px 30px auto;
}
.dimg5{
    width: 25%;
    position: absolute;
    left: 20%;
    top: 600px;
}
.img5{
    height: 250px;
    width: 250px;
    border: 20px double rgb(134, 233, 134);
    margin: 10px 30px auto;
}
.dimg6{
    width: 25%;
    position: absolute;
    left: 60%;
    top: 600px;
}
.img6{
    height: 250px;
    width: 250px;
    border: 15px groove green;
    margin: 5px;
}
.body2{
    background-color: rgb(238, 241, 189);
    border-bottom: 20px solid green;
    border-top: 20px solid rgb(96, 126, 5);
    border-left: 20px solid chartreuse;
    border-right: rgb(35, 82, 59);
}
.body2 h1{
    margin-bottom: 0;
    color: red;    
}
.body2 h3{
    margin-top: 0;
    margin-bottom: 30px;
    color: green;
}
.foot{
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(214, 244, 169);
    border: 5px solid rgb(90, 240, 90);
}
.foot a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 30px;
}
a:hover{
    color: aqua;
}